pipelines:
  branches:
    main:
      - step:
          name: Deploy Cloudflare Worker to Production
          caches:
            - node
          script:
            - npm install -g pnpm
            - pnpm install

            # Build & Deploy
            - pnpm build

            # Inject placeholders via script (dynamically prefixed by env)
            - node scripts/inject-env.js production
            - CLOUDFLARE_API_TOKEN="$CLOUDFLARE_API_TOKEN" pnpm exec wrangler deploy -c build/server/wrangler.json
    dev:
      - step:
          name: Deploy Cloudflare Worker to Staging
          caches:
            - node
          script:
            - npm install -g pnpm
            - pnpm install

            # Build & Deploy
            - pnpm build

            # Inject placeholders via script (dynamically prefixed by env)
            - node scripts/inject-env.js staging
            - CLOUDFLARE_API_TOKEN="$CLOUDFLARE_API_TOKEN" pnpm exec wrangler deploy -c build/server/wrangler.json
